@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans", sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
/* Track */
.scrollbar::-webkit-scrollbar-track {
  background-color: rgb(235, 234, 234);
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(177, 177, 177);
  border-radius: 10px;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ededed;
  transition: all 0.5s ease;
}

@media screen and (min-width: 768px) {
  .post:hover .overlay {
    display: block;
  }
}

.pb-full {
  padding-bottom: 100%;
}

/* hide search icon on search focus */
.search-bar:focus + .fa-search {
  display: none;
}

.app_layout::-webkit-scrollbar {
  width: 5px;
  background-color: blueviolet;
}
.app_layout::-webkit-scrollbar-track {
  width: 2px;
  background-color: blueviolet;
}
