@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'DM Sans', sans-serif;
}

@media screen and (min-width: 768px) {
  .post:hover .overlay {
    display: block;
  }
}

.pb-full {
  padding-bottom: 100%;
}

/* hide search icon on search focus */
.search-bar:focus + .fa-search {
  display: none;
}


.app_layout::-webkit-scrollbar {
  width: 5px;
  background-color: blueviolet;
}
.app_layout::-webkit-scrollbar-track {
  width: 2px;
  background-color: blueviolet;
}